* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.hero {
    background-color: #1f2937;
    color:#f9faf8;
    padding: 20px 15% 100px 15%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.nav-logo img {
  width: 150px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hero-content {
    display: flex;
    align-items: center;
    gap: 50px;
}

.hero-text {
    flex: 1;
    padding-right: 20px;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;
    color: #f9faf8;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 20px;
}

.hero-img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img img {
    width: 100%;
    max-width: 500px;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.btn-primary {
    background-color: #3882f6;
    color: white;
    padding: 8px 32px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}
